.cart {
  display: flex;
  flex-direction: column;
  padding: 0rem 8rem;
  text-align: center;
  margin: 0 auto;
}

.cart_content {
  flex: 1;
}

.cart_items {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  align-items: center;
}

.cart_summary {
  height: fit-content;
  position: sticky;
  top: 2rem;
  border-radius: 12px;
}

.total_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.checkout_btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.checkout_btn:hover {
  background: orange;
}

.empty_cart {
  text-align: center;
  padding: 4rem;
}
