.card_container {
  display: flex;
  width: 100%;
}

.card_container img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.card_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;
}

/* .price_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .total_price {
  font-size: 1.1rem;
} */

.quantity_control {
  display: flex;
}

.quantity_control input {
  width: 50px;
  text-align: center;
  padding: 0.3rem;
}
