.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
  font-size: 1em;
  color: #000;
}

.brand {
  font-size: 1.2em;
  font-family: "Skranji", system-ui;
  transition: 0.4s;
  text-decoration: none;
  color: #000;
}

.brand:hover {
  color: #bbb;
}

.links_list {
  display: flex;
  list-style: none;
}

.links_list li {
  margin-right: 2em;
}

.links_list a {
  padding: 0.4em 0.6em;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.links_list a:hover {
  text-decoration: underline;
}
