.card_container {
  border-radius: 5px;
  /* border: 2px solid orange; */
  border-radius: 25px;
  /* dia 14 */
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 22rem;
  padding: 1.6rem;
  transition: transform 0.3s;
  box-shadow: 0 15px 30px #00000026;
}

.card_container:hover {
  transform: translateY(-5px);
  outline: solid orange;
}

.card_container img {
  /* border-radius: 25px 25px 0 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 1.5rem;
}

.card_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_info h4 {
  margin: 0;
}

.card_info p {
  margin: 0;
}

.card_info button {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  width: 8rem;
}
