:root {
  --primary-color: orange;
  --secondary-color: #f8f9fa;
  --text-color: #212529;
  --background-color: #fff;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.loading {
  text-align: center;
  font-size: 2rem;
}
